In [57]:
# import libraries
import pickle
import pandas as pd
import gensim.models.word2vec as w2v
import multiprocessing

In [2]:
data = pd.read_pickle('quora.pickle')

In [3]:
data.head()

,q1_len,q2_len,q1_voc_len,q2_voc_len,q1_average_word_len,q2_average_word_len,shared_token_len,shared_token_average_word_len,question_1,is_duplicate,question_2
0,67,58,13,12,3.53,3.54,12,3.5,"[what, is, the, step, by, step, guide, to, inv...",0,"[what, is, the, step, by, step, guide, to, inv..."
1,56,93,13,17,3.23,4.11,10,3.3,"[what, is, the, story, of, kohinoor, (, koh, i...",0,"[what, would, happen, if, the, indian, governm..."
2,74,60,15,11,4.00,4.55,5,4.0,"[how, can, i, increase, the, speed, of, my, in...",0,"[how, can, internet, speed, be, increased, by,..."
3,53,68,11,12,3.08,3.27,1,1.0,"[why, am, i, mentally, very, lonely, ?, how, c...",0,"[find, the, remainder, when, math, 23, 24, mat..."
4,81,40,15,8,4.00,4.12,5,3.4,"[which, one, dissolve, in, water, quikly, suga...",0,"[which, fish, would, survive, in, salt, water, ?]"

In [4]:
# remove empty row
ind1 = data[data['q1_len'] == 0].index
ind2 = data[data['q2_len'] == 0].index

In [9]:
ind = ind1.append(ind2)

In [10]:
ind

Int64Index([3306, 190570, 290090, 301583, 20072, 144343, 384293], dtype='int64')

In [11]:
data.drop(ind, inplace=True)

In [16]:
data[['q1_len']].describe()

              q1_len
count  404281.000000
mean       61.163663
std        30.760206
min         1.000000
25%        40.000000
50%        53.000000
75%        74.000000
max       644.000000

In [17]:
data[['q2_len']].describe()

              q2_len
count  404281.000000
mean       61.750359
std        34.777124
min         1.000000
25%        40.000000
50%        52.000000
75%        73.000000
max      1189.000000

In [36]:
q1_greater_than100 = data[data['q1_len']> 100]

In [37]:
q1_greater_than100.shape

(42057, 11)

In [40]:
q1_greater_than100['question_1'].iloc[0]

['what',
 'are',
 'the',
 'laws',
 'to',
 'change',
 'your',
 'status',
 'from',
 'a',
 'student',
 'visa',
 'to',
 'a',
 'green',
 'card',
 'in',
 'the',
 'us',
 ',',
 'how',
 'do',
 'they',
 'compare',
 'to',
 'the',
 'immigration',
 'laws',
 'in',
 'canada',
 '?']

In [42]:
# remove all the index greater than 100
ind100 = data[data['q1_len'] > 100].index
data.drop(ind100, inplace=True)

In [43]:
data.shape

(362224, 11)

In [44]:
q1_less_than5 = data[data['q1_len']< 5]

In [45]:
q1_less_than5.shape

(38, 11)

In [46]:
q2_less_than5 = data[data['q2_len']< 5]

In [48]:
q2_less_than5.shape

(9, 11)

In [49]:
# remove all the question less than 5
ind5_1 = data[data['q1_len'] < 5].index
ind5_2 = data[data['q2_len'] < 5].index
ind5 = ind5_1.append(ind5_2)
data.drop(ind5, inplace=True)

In [50]:
data.shape

(362178, 11)

In [51]:
# get all the questions
questions = data['question_1'].append(data['question_2'], ignore_index=True).tolist()

In [52]:
len(questions)

724356

In [54]:
questions[0]

['what',
 'is',
 'the',
 'step',
 'by',
 'step',
 'guide',
 'to',
 'invest',
 'in',
 'share',
 'market',
 'in',
 'india',
 '?']

In [60]:

# build model
num_features = 300
min_word_count = 5
num_workers = multiprocessing.cpu_count()
context_size = 5
downsampling = 1e-3
seed = 1
quora2vec = w2v.Word2Vec(
    sg=1,
    seed=seed,
    workers=num_workers,
    size=num_features, 
    min_count=min_word_count,
    window=context_size,
    sample=downsampling

)

In [62]:
quora2vec.build_vocab(questions)

In [66]:
# train
quora2vec.train(questions, total_examples=quora2vec.corpus_count, epochs=quora2vec.iter)

26781726

In [67]:
quora2vec

In [68]:
# save the model
quora2vec.save("quora.w2v")